In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
location="datasets/Kickstartercombo.csv"
df=pd.read_csv(location)
df.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real
0,0,1000002330,The Songs of Adelaide & Abullah,Publishing,Poetry,GB,failed,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN

In [3]:
kickset=df[['name','main_category','country','state','goal','pledged','launched','deadline','backers']]
kickset.head()

,name,main_category,country,state,goal,pledged,launched,deadline,backers
0,The Songs of Adelaide & Abullah,Publishing,GB,failed,1000.0,0.0,2015-08-11 12:12:00,2015-10-09 11:36:00,0
1,Where is Hank?,Film & Video,US,failed,45000.0,220.0,2013-01-12 00:20:00,2013-02-26 00:20:00,3
2,ToshiCapital Rekordz Needs Help to Complete Album,Music,US,failed,5000.0,1.0,2012-03-17 03:24:00,2012-04-16 04:24:00,1
3,Community Film Project: The Art of Neighborhoo...,Film & Video,US,canceled,19500.0,1283.0,2015-07-04 08:35:00,2015-08-29 01:00:00,14
4,Monarch Espresso Bar,Food,US,successful,50000.0,52375.0,2016-02-26 13:38:00,2016-04-01 13:38:00,224

In [4]:
kickset.isnull().sum()

name             8
main_category    0
country          0
state            0
goal             0
pledged          0
launched         0
deadline         0
backers          0
dtype: int64

In [5]:
kicksetclean=kickset.dropna(subset=['name'])

In [6]:
kicksetclean.isnull().sum()

name             0
main_category    0
country          0
state            0
goal             0
pledged          0
launched         0
deadline         0
backers          0
dtype: int64

In [7]:
kicksetclean['state']=kicksetclean['state'].replace('canceled','failed')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
kicksetclean.head(10)

,name,main_category,country,state,goal,pledged,launched,deadline,backers
0,The Songs of Adelaide & Abullah,Publishing,GB,failed,1000.0,0.00,2015-08-11 12:12:00,2015-10-09 11:36:00,0
1,Where is Hank?,Film & Video,US,failed,45000.0,220.00,2013-01-12 00:20:00,2013-02-26 00:20:00,3
2,ToshiCapital Rekordz Needs Help to Complete Album,Music,US,failed,5000.0,1.00,2012-03-17 03:24:00,2012-04-16 04:24:00,1
3,Community Film Project: The Art of Neighborhoo...,Film & Video,US,failed,19500.0,1283.00,2015-07-04 08:35:00,2015-08-29 01:00:00,14
4,Monarch Espresso Bar,Food,US,successful,50000.0,52375.00,2016-02-26 13:38:00,2016-04-01 13:38:00,224
5,Support Solar Roasted Coffee & Green Energy! ...,Food,US,successful,1000.0,1205.00,2014-12-01 18:30:00,2014-12-21 18:30:00,16
6,Chaser Strips. Our Strips make Shots their B*tch!,Food,US,failed,25000.0,453.00,2016-02-01 20:05:00,2016-03-17 19:05:00,40
7,SPIN - Premium Retractable In-Ear Headphones w...,Design,US,failed,125000.0,8233.00,2014-04-24 18:14:00,2014-05-29 18:14:00,58
8,STUDIO IN THE SKY - A Documentary Feature Film...,Film & Video,US,failed,65000.0,6240.57,2014-07-11 21:55:00,2014-08-10 21:55:00,43
9,Of Jesus and Madmen,Publishing,CA,failed,2500.0,0.00,2013-09-09 18:19:00,2013-10-09 18:19:00,0

In [9]:
kicksetclean['state'].unique()

array(['failed', 'successful', 'live', 'undefined', 'suspended'], dtype=object)

In [10]:
kicksetclean=kicksetclean[kicksetclean.state != 'undefined']

In [11]:
kicksetclean=kicksetclean[kicksetclean.state != 'suspended']

In [12]:
kicksetclean['state'].unique()

array(['failed', 'successful', 'live'], dtype=object)

In [13]:
kicksetlive=kicksetclean[kicksetclean['state']=='live']

In [14]:
kicksetlive['state'].unique()

array(['live'], dtype=object)

In [15]:
kicksetclean=kicksetclean[kicksetclean.state != 'live']

In [16]:
kicksetclean['state'].unique()

array(['failed', 'successful'], dtype=object)

In [17]:
def difference(x, a, b):
    x=kicksetclean['pledged']
    for n in x:
        return a-b

            
kicksetclean['excess']=difference(kicksetclean['pledged'], kicksetclean['pledged'], kicksetclean['goal'])
kicksetclean.head()

,name,main_category,country,state,goal,pledged,launched,deadline,backers,excess
0,The Songs of Adelaide & Abullah,Publishing,GB,failed,1000.0,0.0,2015-08-11 12:12:00,2015-10-09 11:36:00,0,-1000.0
1,Where is Hank?,Film & Video,US,failed,45000.0,220.0,2013-01-12 00:20:00,2013-02-26 00:20:00,3,-44780.0
2,ToshiCapital Rekordz Needs Help to Complete Album,Music,US,failed,5000.0,1.0,2012-03-17 03:24:00,2012-04-16 04:24:00,1,-4999.0
3,Community Film Project: The Art of Neighborhoo...,Film & Video,US,failed,19500.0,1283.0,2015-07-04 08:35:00,2015-08-29 01:00:00,14,-18217.0
4,Monarch Espresso Bar,Food,US,successful,50000.0,52375.0,2016-02-26 13:38:00,2016-04-01 13:38:00,224,2375.0

In [18]:
kicksetclean['launched']=pd.to_datetime(kicksetclean['launched'])

In [19]:
kicksetclean['deadline']=pd.to_datetime(kicksetclean['deadline'])

In [20]:
kicksetclean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 684718 entries, 0 to 702410
Data columns (total 10 columns):
name             684718 non-null object
main_category    684718 non-null object
country          684718 non-null object
state            684718 non-null object
goal             684718 non-null float64
pledged          684718 non-null float64
launched         684718 non-null datetime64[ns]
deadline         684718 non-null datetime64[ns]
backers          684718 non-null int64
excess           684718 non-null float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(4)
memory usage: 57.5+ MB

In [21]:
def difference2(x, a, b):
    x=kicksetclean['deadline']
    for n in x:
        return a-b

            
kicksetclean['interval']=difference2(kicksetclean['deadline'], kicksetclean['deadline'], kicksetclean['launched'])
kicksetclean.head()

,name,main_category,country,state,goal,pledged,launched,deadline,backers,excess,interval
0,The Songs of Adelaide & Abullah,Publishing,GB,failed,1000.0,0.0,2015-08-11 12:12:00,2015-10-09 11:36:00,0,-1000.0,58 days 23:24:00
1,Where is Hank?,Film & Video,US,failed,45000.0,220.0,2013-01-12 00:20:00,2013-02-26 00:20:00,3,-44780.0,45 days 00:00:00
2,ToshiCapital Rekordz Needs Help to Complete Album,Music,US,failed,5000.0,1.0,2012-03-17 03:24:00,2012-04-16 04:24:00,1,-4999.0,30 days 01:00:00
3,Community Film Project: The Art of Neighborhoo...,Film & Video,US,failed,19500.0,1283.0,2015-07-04 08:35:00,2015-08-29 01:00:00,14,-18217.0,55 days 16:25:00
4,Monarch Espresso Bar,Food,US,successful,50000.0,52375.0,2016-02-26 13:38:00,2016-04-01 13:38:00,224,2375.0,35 days 00:00:00

In [78]:
kicksetlive['launched']=pd.to_datetime(kicksetlive['launched'])

In [79]:
kicksetlive['deadline']=pd.to_datetime(kicksetlive['deadline'])

In [80]:
def difference3(x, a, b):
    x=kicksetlive['deadline']
    for n in x:
        return a-b

            
kicksetlive['interval']=difference3(kicksetlive['deadline'], kicksetlive['deadline'], kicksetlive['launched'])
kicksetlive.head()

,name,main_category,country,state,goal,pledged,launched,deadline,backers,interval
92,Disaster Area: A Podcast,Publishing,US,live,1000.0,125.0,2016-11-28 17:58:00,2016-12-28 17:58:00,3,30 days 00:00:00
129,#NotMyPresident Protest Tees,Fashion,US,live,2500.0,25.0,2016-11-22 04:46:00,2016-12-22 04:46:00,1,30 days 00:00:00
174,APP - CUSTOM SHOES/ Calzado Personalizado - MA...,Technology,MX,live,55000.0,1700.0,2016-11-19 04:05:00,2016-12-21 06:59:00,7,32 days 02:54:00
179,Strawberry Fields Café and Patisserie,Food,CA,live,50000.0,0.0,2016-12-01 21:16:00,2017-01-23 17:14:00,0,52 days 19:58:00
187,CLOTHING LABEL WITH A 90's STATE OF MIND - MAD...,Fashion,FR,live,3286.0,2866.0,2016-11-18 18:51:00,2016-12-18 18:51:00,32,30 days 00:00:00

In [22]:
kicksetclean.corr()

             goal   pledged   backers    excess
goal     1.000000  0.007372  0.004673 -0.996658
pledged  0.007372  1.000000  0.730397  0.074340
backers  0.004673  0.730397  1.000000  0.055007
excess  -0.996658  0.074340  0.055007  1.000000

In [81]:
def difference4(x, a, b):
    x=kicksetlive['pledged']
    for n in x:
        return a-b

            
kicksetlive['excess']=difference(kicksetlive['pledged'], kicksetlive['pledged'], kicksetlive['goal'])
kicksetlive.head()

,name,main_category,country,state,goal,pledged,launched,deadline,backers,interval,excess
92,Disaster Area: A Podcast,Publishing,US,live,1000.0,125.0,2016-11-28 17:58:00,2016-12-28 17:58:00,3,30 days 00:00:00,-875.0
129,#NotMyPresident Protest Tees,Fashion,US,live,2500.0,25.0,2016-11-22 04:46:00,2016-12-22 04:46:00,1,30 days 00:00:00,-2475.0
174,APP - CUSTOM SHOES/ Calzado Personalizado - MA...,Technology,MX,live,55000.0,1700.0,2016-11-19 04:05:00,2016-12-21 06:59:00,7,32 days 02:54:00,-53300.0
179,Strawberry Fields Café and Patisserie,Food,CA,live,50000.0,0.0,2016-12-01 21:16:00,2017-01-23 17:14:00,0,52 days 19:58:00,-50000.0
187,CLOTHING LABEL WITH A 90's STATE OF MIND - MAD...,Fashion,FR,live,3286.0,2866.0,2016-11-18 18:51:00,2016-12-18 18:51:00,32,30 days 00:00:00,-420.0

In [122]:
modeldf=pd.get_dummies(data=kicksetclean, columns=['state','main_category', 'country'])
modeldf.head()

,name,goal,pledged,launched,deadline,backers,excess,interval,state_failed,state_successful,...,country_LU,country_MX,"country_N,""0","country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,The Songs of Adelaide & Abullah,1000.0,0.0,2015-08-11 12:12:00,2015-10-09 11:36:00,0,-1000.0,58 days 23:24:00,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Where is Hank?,45000.0,220.0,2013-01-12 00:20:00,2013-02-26 00:20:00,3,-44780.0,45 days 00:00:00,1,0,...,0,0,0,0,0,0,0,0,0,1
2,ToshiCapital Rekordz Needs Help to Complete Album,5000.0,1.0,2012-03-17 03:24:00,2012-04-16 04:24:00,1,-4999.0,30 days 01:00:00,1,0,...,0,0,0,0,0,0,0,0,0,1
3,Community Film Project: The Art of Neighborhoo...,19500.0,1283.0,2015-07-04 08:35:00,2015-08-29 01:00:00,14,-18217.0,55 days 16:25:00,1,0,...,0,0,0,0,0,0,0,0,0,1
4,Monarch Espresso Bar,50000.0,52375.0,2016-02-26 13:38:00,2016-04-01 13:38:00,224,2375.0,35 days 00:00:00,0,1,...,0,0,0,0,0,0,0,0,0,1

In [126]:
y= modeldf['state_successful']

In [127]:
X = modeldf.drop(['state_successful','state_failed', 'name', 'launched', 'deadline', 'interval','excess'], axis=1)

In [128]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [129]:
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [130]:
LogReg.score(X_train, y_train)

0.99395918754814938

In [131]:
y_pred=LogReg.predict(X_test)

In [132]:
cm=pd.DataFrame(confusion_matrix(y_test, y_pred), columns=['successful', 'failed'], index=['True successful', 'True failed'])

In [133]:
cm

                 successful  failed
True successful       86717     827
True failed               0   49400

In [134]:
LogReg.score(X_test, y_test)

0.99396103516765977

In [135]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       1.00      0.99      1.00     87544
          1       0.98      1.00      0.99     49400

avg / total       0.99      0.99      0.99    136944

In [136]:
modeldf.corr()

,goal,pledged,backers,excess,state_failed,state_successful,main_category_Art,main_category_Comics,main_category_Crafts,main_category_Dance,...,country_LU,country_MX,"country_N,""0","country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
goal,1.000000,0.007372,0.004673,-0.996658,0.024961,-0.024961,-0.002178,-0.003919,-0.004870,-0.003397,...,-0.000208,0.010157,-0.000436,-0.000436,0.004184,0.018047,-0.000749,0.016538,-0.000653,-0.008823
pledged,0.007372,1.000000,0.730397,0.074340,-0.109906,0.109906,-0.017902,-0.004343,-0.012195,-0.006231,...,-0.000458,0.009402,0.001013,0.001013,-0.001680,0.008944,-0.001579,0.034099,0.001790,0.002259
backers,0.004673,0.730397,1.000000,0.055007,-0.124657,0.124657,-0.019639,0.005586,-0.012773,-0.006784,...,-0.000773,-0.004236,-0.002083,-0.002083,-0.003310,-0.003120,-0.002471,-0.001234,0.000947,0.012794
excess,-0.996658,0.074340,0.055007,1.000000,-0.033871,0.033871,0.000710,0.003554,0.003860,0.002878,...,0.000170,-0.009361,0.000518,0.000518,-0.004310,-0.017267,0.000618,-0.013708,0.000798,0.008983
state_failed,0.024961,-0.109906,-0.124657,-0.033871,1.000000,-1.000000,-0.029654,-0.061791,0.037907,-0.056866,...,0.000683,0.012223,-0.003509,-0.003509,0.027760,0.011846,0.006836,0.010006,0.000717,-0.066138
state_successful,-0.024961,0.109906,0.124657,0.033871,-1.000000,1.000000,0.029654,0.061791,-0.037907,0.056866,...,-0.000683,-0.012223,0.003509,0.003509,-0.027760,-0.011846,-0.006836,-0.010006,-0.000717,0.066138
main_category_Art,-0.002178,-0.017902,-0.019639,0.000710,-0.029654,0.029654,1.000000,-0.048650,-0.043647,-0.029143,...,0.000361,0.003604,-0.005253,-0.005253,-0.002455,-0.003876,-0.002892,-0.001851,-0.003598,0.008472
main_category_Comics,-0.003919,-0.004343,0.005586,0.003554,-0.061791,0.061791,-0.048650,1.000000,-0.026077,-0.017412,...,-0.000530,-0.002257,-0.003139,-0.003139,-0.012041,-0.001237,-0.006323,-0.005513,-0.002374,0.017014
main_category_Crafts,-0.004870,-0.012195,-0.012773,0.003860,0.037907,-0.037907,-0.043647,-0.026077,1.000000,-0.015621,...,-0.001811,0.004253,-0.002816,-0.002816,-0.000045,0.000138,0.001947,-0.000157,0.005366,-0.010321
main_category_Dance,-0.003397,-0.006231,-0.006784,0.002878,-0.056866,0.056866,-0.029143,-0.017412,-0.015621,1.000000,...,-0.001209,0.001766,-0.001880,-0.001880,-0.003673,0.000215,-0.002415,-0.004265,-0.002539,0.017855
main_category_Design,0.000050,0.051101,0.041976,0.004125,0.005674,-0.005674,-0.082379,-0.049218,-0.044156,-0.029483,...,0.001210,-0.003107,-0.005017,-0.005017,0.012421,-0.000162,0.006241,0.004311,0.020684,-0.038533
main_category_Fashion,-0.005025,-0.007809,-0.011540,0.004373,0.060292,-0.060292,-0.071449,-0.042688,-0.038298,-0.025572,...,-0.000871,-0.003823,-0.004273,-0.004273,0.012647,-0.001147,0.002712,0.002560,0.015603,-0.031234
main_category_Film & Video,0.012701,-0.014335,-0.018496,-0.013837,-0.017963,0.017963,-0.130596,-0.078025,-0.070001,-0.046740,...,-0.004441,0.000520,-0.001296,-0.001296,-0.022094,-0.007352,-0.006336,-0.009688,-0.010958,0.049553
main_category_Food,0.000292,-0.011491,-0.014467,-0.001230,0.060437,-0.060437,-0.075772,-0.045271,-0.040615,-0.027119,...,-0.000161,-0.001748,-0.004249,-0.004249,-0.000317,0.000990,0.001471,-0.001639,-0.003099,0.016606
main_category_Games,0.001504,0.041334,0.075386,0.001877,0.005441,-0.005441,-0.090138,-0.053853,-0.048315,-0.032260,...,-0.000734,-0.000676,-0.004987,-0.004987,0.015044,0.005013,0.006298,0.014941,0.001627,-0.062492
main_category_Graphic Novels,-0.000050,-0.000120,-0.000135,0.000040,0.000908,-0.000908,-0.000345,-0.000206,-0.000185,-0.000123,...,-0.000014,-0.000059,-0.000022,-0.000022,-0.000104,-0.000051,-0.000074,-0.000079,-0.000036,0.000615
main_category_Journalism,0.000993,-0.007482,-0.008056,-0.001601,0.033761,-0.033761,-0.032272,-0.019281,-0.017298,-0.011550,...,-0.000235,0.003520,-0.001371,-0.001371,0.001813,0.006838,0.001080,0.010806,-0.002910,-0.011274
main_category_Music,-0.011030,-0.022531,-0.021581,0.009159,-0.109327,0.109327,-0.113282,-0.067681,-0.060721,-0.040543,...,-0.001104,-0.002639,0.028095,0.028095,-0.017212,-0.002978,-0.012546,-0.006149,-0.009897,0.084677
main_category_Photography,-0.005349,-0.010868,-0.012454,0.004447,0.019585,-0.019585,-0.049790,-0.029747,-0.026688,-0.017820,...,0.005947,-0.003642,-0.003212,-0.003212,0.003256,-0.000706,-0.000545,0.000706,-0.002259,-0.017682
main_category_Publishing,-0.006099,-0.021256,-0.018497,0.004346,0.035283,-0.035283,-0.098146,-0.058638,-0.052608,-0.035126,...,0.001141,-0.002648,0.002182,0.002182,-0.009942,-0.000776,0.003524,0.001072,-0.003299,0.019527
main_category_Technology,0.018678,0.040419,0.019182,-0.015325,0.099796,-0.099796,-0.085960,-0.051357,-0.046076,-0.030765,...,0.004026,0.008083,-0.004397,-0.004397,0.039716,0.013565,0.014047,0.004776,0.005893,-0.088479
main_category_Theater,-0.003208,-0.009929,-0.010963,0.002388,-0.089503,0.089503,-0.050429,-0.030129,-0.027031,-0.018048,...,0.000786,0.002798,-0.003254,-0.003254,-0.011161,-0.003121,-0.005856,-0.005719,-0.002648,0.006029
country_AT,-0.000268,0.001501,-0.000496,0.000390,0.013776,-0.013776,-0.002489,-0.004101,-0.001092,-0.001783,...,-0.000435,-0.001805,-0.000676,-0.000676,-0.003152,-0.001539,-0.002239,-0.002410,-0.001089,-0.072247
country_AU,0.003747,-0.003435,-0.004298,-0.004017,0.032368,-0.032368,-0.011690,-0.005025,0.000351,-0.008427,...,-0.001694,-0.007027,-0.002634,-0.002634,-0.012275,-0.005992,-0.008718,-0.009384,-0.004240,-0.281334
country_BE,-0.000394,-0.001252,-0.002165,0.000290,0.009782,-0.009782,-0.000219,-0.003871,0.002250,-0.003093,...,-0.000447,-0.001856,-0.000696,-0.000696,-0.003242,-0.001582,-0.002302,-0.002478,-0.001120,-0.074295
country_CA,0.001472,-0.003745,-0.003802,-0.001774,0.035636,-0.035636,-0.001952,0.007189,0.007510,-0.007858,...,-0.002361,-0.009795,-0.003671,-0.003671,-0.017109,-0.008352,-0.012151,-0.013079,-0.005910,-0.392118
country_CH,0.008677,0.002400,-0.000975,-0.008457,0.011000,-0.011000,-0.001487,-0.005346,0.002426,-0.002126,...,-0.000490,-0.002032,-0.000762,-0.000762,-0.003550,-0.001733,-0.002521,-0.002714,-0.001226,-0.081356
country_DE,0.001255,-0.001071,-0.001077,-0.001339,0.028438,-0.028438,-0.007619,-0.009950,-0.000372,-0.004891,...,-0.001168,-0.004843,-0.001815,-0.001815,-0.008460,-0.004130,-0.006008,-0.006467,-0.002923,-0.193895
country_DK,0.009963,0.018976,-0.002076,-0.008385,0.004862,-0.004862,-0.000918,-0.004692,0.002866,-0.003957,...,-0.000619,-0.002569,-0.000963,-0.000963,-0.004488,-0.002191,-0.003187,-0.003431,-0.001550,-0.102850
country_ES,0.000372,-0.003364,-0.002687,-0.000646,0.022356,-0.022356,-0.002443,-0.004513,-0.002838,-0.005071,...,-0.000847,-0.003513,-0.001317,-0.001317,-0.006137,-0.002996,-0.004358,-0.004691,-0.002120,-0.140648
country_FR,0.002456,0.001173,0.001244,-0.002353,0.009779,-0.009779,-0.005015,-0.007699,0.001338,-0.003195,...,-0.000981,-0.004070,-0.001525,-0.001525,-0.007109,-0.003470,-0.005049,-0.005435,-0.002456,-0.162937
country_GB,-0.004940,-0.015350,-0.007161,0.003673,0.003298,-0.003298,0.004235,-0.006803,0.007752,-0.005229,...,-0.003677,-0.015251,-0.005716,-0.005716,-0.026641,-0.013004,-0.018920,-0.020365,-0.009203,-0.610560
country_HK,0.004019,0.037043,0.000771,-0.000982,-0.000402,0.000402,-0.001490,-0.002824,-0.001070,-0.002611,...,-0.000358,-0.001486,-0.000557,-0.000557,-0.002596,-0.001267,-0.001843,-0.001984,-0.000897,-0.059485
country_IE,0.000004,-0.002261,-0.002359,-0.000189,0.009956,-0.009956,0.000360,-0.004569,0.006471,-0.002568,...,-0.000525,-0.002177,-0.000816,-0.000816,-0.003804,-0.001857,-0.002701,-0.002908,-0.001314,-0.087174
country_IT,0.001759,-0.003735,-0.004691,-0.002059,0.034946,-0.034946,-0.003153,-0.006437,-0.003503,-0.005866,...,-0.000953,-0.003952,-0.001481,-0.001481,-0.006903,-0.003369,-0.004902,-0.005277,-0.002384,-0.158197
country_JP,0.012522,0.023225,-0.000472,-0.010590,0.001894,-0.001894,-0.000275,-0.001147,-0.001029,-0.000687,...,-0.000080,-0.000331,-0.000124,-0.000124,-0.000577,-0.000282,-0.000410,-0.000441,-0.000199,-0.013232
country_LU,-0.000208,-0.000458,-0.000773,0.000170,0.000683,-0.000683,0.000361,-0.000530,-0.001811,-0.001209,...,1.000000,-0.000582,-0.000218,-0.000218,-0.001016,-0.000496,-0.000722,-0.000777,-0.000351,-0.023286
country_MX,0.010157,0.009402,-0.004236,-0.009361,0.012223,-0.012223,0.003604,-0.002257,0.004253,0.001766,...,-0.000582,1.000000,-0.000904,-0.000904,-0.004214,-0.002057,-0.002993,-0.003222,-0.001456,-0.096588
"country_N,""0",-0.000436,0.001013,-0.002083,0.000518,-0.003509,0.003509,-0.005253,-0.003139,-0.002816,-0.001880,...,-0.000218,-0.000904,1.000000,-0.000339,-0.001580,-0.000771,-0.001122,-0.001208,-0.000546,-0.036203
"country_N,0""",-0.000436,0.001013,-0.002083,0.000518,-0.003509,0.003509,-0.005253,-0.003139,-0.002816,-0.001880,...,-0.000218,-0.000904,-0.000339,1.000000,-0.001580,-0.000771,-0.001122,-0.001208,-0.000546,-0.036203
country_NL,0.004184,-0.001680,-0.003310,-0.004310,0.027760,-0.027760,-0.002455,-0.012041,-0.000045,-0.003673,...,-0.001016,-0.004214,-0.001580,-0.001580,1.000000,-0.003594,-0.005228,-0.005628,-0.002543,-0.168723
country_NO,0.018047,0.008944,-0.003120,-0.017267,0.011846,-0.011846,-0.003876,-0.001237,0.000138,0.000215,...,-0.000496,-0.002057,-0.000771,-0.000771,-0.003594,1.000000,-0.002552,-0.002747,-0.001241,-0.082359
country_NZ,-0.000749,-0.001579,-0.002471,0.000618,0.006836,-0.006836,-0.002892,-0.006323,0.001947,-0.002415,...,-0.000722,-0.002993,-0.001122,-0.001122,-0.005228,-0.002552,1.000000,-0.003997,-0.001806,-0.119824
country_SE,0.016538,0.034099,-0.001234,-0.013708,0.010006,-0.010006,-0.001851,-0.005513,-0.000157,-0.004265,...,-0.000777,-0.003222,-0.001208,-0.001208,-0.005628,-0.002747,-0.003997,1.000000,-0.001944,-0.128977
country_SG,-0.000653,0.001790,0.000947,0.000798,0.000717,-0.000717,-0.003598,-0.002374,0.005366,-0.002539,...,-0.000351,-0.001456,-0.000546,-0.000546,-0.002543,-0.001241,-0.001806,-0.001944,1.000000,-0.058284
country_US,-0.008823,0.002259,0.012794,0.008983,-0.066138,0.066138,0.008472,0.017014,-0.010321,0.017855,...,-0.023286,-0.096588,-0.036203,-0.036203,-0.168723,-0.082359,-0.119824,-0.128977,-0.058284,1.000000

In [ ]:
writer = pd.ExcelWriter('group3kick.xlsx',engine='xlsxwriter')
kicksetclean.to_excel(writer, sheet_name='Sheet1')
writer.save()

**Test model on live campaign data**

In [97]:
modeldf2=pd.get_dummies(data=kicksetlive, columns=['main_category', 'country'])
modeldf2.head()

,name,state,goal,pledged,launched,deadline,backers,interval,excess,main_category_Art,...,country_LU,country_MX,"country_N,""0","country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
92,Disaster Area: A Podcast,live,1000.0,125.0,2016-11-28 17:58:00,2016-12-28 17:58:00,3,30 days 00:00:00,-875.0,0,...,0,0,0,0,0,0,0,0,0,1
129,#NotMyPresident Protest Tees,live,2500.0,25.0,2016-11-22 04:46:00,2016-12-22 04:46:00,1,30 days 00:00:00,-2475.0,0,...,0,0,0,0,0,0,0,0,0,1
174,APP - CUSTOM SHOES/ Calzado Personalizado - MA...,live,55000.0,1700.0,2016-11-19 04:05:00,2016-12-21 06:59:00,7,32 days 02:54:00,-53300.0,0,...,0,1,0,0,0,0,0,0,0,0
179,Strawberry Fields Café and Patisserie,live,50000.0,0.0,2016-12-01 21:16:00,2017-01-23 17:14:00,0,52 days 19:58:00,-50000.0,0,...,0,0,0,0,0,0,0,0,0,0
187,CLOTHING LABEL WITH A 90's STATE OF MIND - MAD...,live,3286.0,2866.0,2016-11-18 18:51:00,2016-12-18 18:51:00,32,30 days 00:00:00,-420.0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
w= modeldf2['state']

In [101]:
Z = modeldf2.drop(['state', 'name', 'launched', 'deadline'], axis=1)
Z.head()

,goal,pledged,backers,interval,excess,main_category_Art,main_category_Comics,main_category_Crafts,main_category_Dance,main_category_Design,...,country_LU,country_MX,"country_N,""0","country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
92,1000.0,125.0,3,30 days 00:00:00,-875.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
129,2500.0,25.0,1,30 days 00:00:00,-2475.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
174,55000.0,1700.0,7,32 days 02:54:00,-53300.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
179,50000.0,0.0,0,52 days 19:58:00,-50000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187,3286.0,2866.0,32,30 days 00:00:00,-420.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
Z_train, Z_test, w_train, w_test = train_test_split(Z, w, test_size=0.2, random_state=5)

In [103]:
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [52]:
LogReg.score(X_train, y_train)

0.9967176244217506

In [107]:
w_pred=LogReg.predict(Z_test)

TypeError: float() argument must be a string or a number, not 'Timedelta'

In [108]:
cm=pd.DataFrame(confusion_matrix(Z_test, Z_pred), columns=['successful', 'failed'], index=['True successful', 'True failed'])

NameError: name 'Z_pred' is not defined

In [55]:
cm

                 successful  failed
True successful       87063     481
True failed               0   49400

In [56]:
LogReg.score(X_test, y_test)

0.99648761537562802

In [57]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

     failed       1.00      0.99      1.00     87544
 successful       0.99      1.00      1.00     49400

avg / total       1.00      1.00      1.00    136944